.index {
  margin: 42px 100px;
}

.index header {
  display: flex;
  justify-content: center;
}

.card {
  height: 364px;
  width: 380px;
  border-radius: 5px;
}

div#listCard {
  display: FLEX;
  flex-wrap: WRAP;
  justify-content: SPACE-BETWEEN;
}
.card-title h2 {
  font-size: 18px;
  width: 210px;
  text-overflow: ellipsis;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.card-text {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

p.recette {
  max-height: 109px;
  width: 171px;
  line-height: 12px;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
p.recette:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}
p.recette:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

p.listIngredients {
  height: 105px;
  width: 171px;
  line-height: 14.4px;
  display: flex;
  flex-direction: column;
}
input#searchBar {
  width: 100%;
  background: #e7e7e7;
}
div#components_searchbar {
  display: flex;
}
button#btnSearch {
  border: none;
  margin-left: -28px;
  background: transparent;
}
.dropdown-menu.show {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  height: 397px;
  width: 667px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  overflow: auto;
  color: white;
}
div#menuIngredients
{
  background: #3282f7;
 
}
#btnOpen1,
div#menuUstensiles{
  background: #ED6454;

}


#btnOpen2,
div#menuAppareils{
  background: #68D9A4;

}
.dropdown-item {
  display: block;
  width: 33% !important;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
div#tag {
  display: flex;
  justify-content: left;
}
.btn-group {
  margin-right: 20px;
}
img.card-img-top {
  height: 178px;
  width: 380px;
  object-fit: cover;
}
.card-body {
  padding: 18px;
}
.show input#btnOpen{
  width:379px;
}
input#searchIngredients,
input#searchUstensils,
input#searchAppareils
{
  width: 630px;
  border: none;
  background: transparent;
  color:white;

}


.dropdown-rotate::after {
  transform: rotate(180deg);
}