.index {
  margin: 42px 100px;
}
div#iconTag {
  display: flex;
  justify-content: space-between;

}
div#tagAppareil {
  margin-left: -4%;
}
div#tagUstensil {
  margin-right: 61%;
}
div#tagIngredient,
div#tagAppareil,
div#tagUstensil
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index header {
  display: flex;
  justify-content: center;
}
img.logo {
  height: 93px;
  width: 268px;
  left: 588px;
  top: 42px;
  border-radius: 0px;
}
input#searchBar {
  padding-left: 15px;
}

div#components_searchbar {
  height: 69px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  margin-bottom: 33px;
  margin-top:17px;
}
.card {
  height: 364px;
  width: 380px;
  border-radius: 5px;
  margin-bottom:50px;
}
.card aside {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
i.far.fa-clock {
  height: 20px;
  width: 20px;
  left: 2px;
  top: 2px;
  border-radius: 0px;
}

div#listCard {
  margin-top:25px;
  display: FLEX;
  flex-wrap: WRAP;
  justify-content: SPACE-BETWEEN;
}
.card-title h2 {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  width: 217px;
  text-overflow: ellipsis;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.card-text {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.card-body {
  background: #e7e7e7;
}

p.recette {
  max-height: 109px;
  width: 171px;
  line-height: 12px;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
p.recette:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}
p.recette:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

p.listIngredients {
  height: 105px;
  width: 171px;
  line-height: 14.4px;
  display: flex;
  flex-direction: column;
}

input#searchBar {
  width: 100%;
  background: #e7e7e7;
}
div#components_searchbar {
  display: flex;
}
button#btnSearch {
  border: none;
  margin-left: -28px;
  background: transparent;
}
.show,
.show1,
.show2 {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  height: 397px;
  width: 630px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  overflow: auto;
  color: white;
}
button#btnOpen,
button#btnOpen1,
button#btnOpen2 {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  width:170px;
}

.container.vue{
  width:170px;
}
.container,
.container1,
.container2 {
  height: 69px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show,
.container,
#btnOpen {
  background: #3282f7 !important;
}
.btn {
  border: none !important;
}
.show1,
#btnOpen1,
.container1 {
  background: #ed6454 !important;
}

.show2,
.container2,
#btnOpen2 {
  background: #68d9a4 !important;
}
.dropdown-item {
  display: block;
  width: 33% !important;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
div#tag {
  display: flex;
  justify-content: left;
}

button.tag {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 37px;
  width: 107px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
}
button.tag p {
  margin: 0px;
}
i#close {
  margin-top: 5px;
}
.btn-group {
  margin-right: 20px;
}
img.card-img-top {
  height: 178px;
  width: 380px;
  object-fit: cover;
}
.card-body {
  padding: 18px;
}
.show input#btnOpen,
.show1 input#btnOpen1,
.show2 input#btnOpen2 {
  width: 379px;
}
input#searchIngredients,
input#searchUstensils,
input#searchAppareils {
  width: 580px;
  border: none;
  background: transparent;
  color: white;
}
div#menuUstensiles {
  width: 100%;
}
div#menuAppareils {
  width: 100%;
}
div#menuIngredients {
  width: 100%;
}
.invisible {
  display: none;
  background: transparent;
}
.dropdown-menu {
  display: none;
}


span.toggle2 {
  padding-left: 2px;
  padding-right: 11px;
}
span.toggle1 {
  padding-left: 2px;
  padding-right: 11px;
}

span.toggle2 {
  padding-left: 2px;
  padding-right: 11px;
}

.fas {
  color: white !important;
}
div#components_tag {
  height: 16.552631378173828px;
  width: 32px;
  left: 20px;
  top: 10px;
  margin-bottom: 29px;
  margin-top: 10px;
  background: #3282f7;
}
.tag {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 37px;
}
.tag.ingredients {
  background: #3282f7;

}
.tag.ustensils {
  background: #ed6454;
 

}
.tag.appareils {
  background: #68d9a4;
 

}
i.far.fa-times-circle {
  height: 20px;
  width: 20px;
  left: 2px;
  top: 2px;
  border-radius: 0px;
}
